<div class="container">
  <div class="content">
    <div *ngIf="!isLoaded">
      Carregando...
    </div>
    <div *ngIf="isLoaded">
      <h1>Details</h1>
      <img src="" alt="">
      <div class="info">
        <p>
          Specie: {{person.specie}}
        </p>
        <p>
          Height: {{person.height}}
        </p>
        <p>
          Hair: {{person.hair_color}}
        </p>
        <p>
          Planet: {{person.homeworld}}
        </p>
      </div>
      <p>
        Movies: {{person.films}}
      </p>
      <p>
        Vehicles: {{person.vehicles}}
      </p>
      <a class="close" (click)="close()">close</a>
    </div>
  </div>
</div>